<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LuceneIndexPath" value="C:\NewsIndex\"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="QAConnect" connectionString="Data Source=1129-PC;Initial Catalog=db_AQ;Persist Security Info=True;User ID=sa;Password=12345"
         providerName="System.Data.SqlClient"/>-->
    <add name="QAConnect" connectionString="Data Source=(local);DataBase=db_AQ;Integrated Security=SSPI"
         providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
</configuration>